<ion-content [fullscreen]="false">
  <ng-container *ngIf="watchlist.length > 0; else emptyWatchlist">
    <div class="movies-grid">
      <div *ngFor="let movie of watchlist" class="movie-card" (click)="openMovieDetails(movie.id)">
        <img
          [src]="movie.poster_path !== 'assets/placeholder.png' ? 'https://image.tmdb.org/t/p/w200' + movie.poster_path : movie.poster_path"
          alt="{{ movie.title }}" />
      </div>
    </div>
  </ng-container>

  <ng-template #emptyWatchlist>
    <div class="empty-state">
      <p>Can’t wait? Start adding by clicking the button below!</p>
      <img src="assets/arrow-down-thin.svg" alt="Arrow pointing to button" class="arrow-svg" />
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>