:host {
    display: block;
    background: #000000;
    width: 100%;
}

ion-header {
    box-shadow: none;
}

ion-toolbar {
    --background: #000000;
    --border-width: 0;
    --min-height: 56px;
}

.header-logo {
    height: 24px;
    /* Slightly sleeker */
    width: auto;
    object-fit: contain;
    margin-left: 8px;
}

/* Kills the white focus rings instantly */
.logo-btn::part(native),
.icon-btn::part(native) {
    outline: none !important;
    box-shadow: none !important;
}

.icon-btn {
    --padding-start: 12px;
    --padding-end: 12px;
    --color: #ffffff;

    ion-icon {
        font-size: 24px;
    }
}