<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="logo-btn" fill="clear" (click)="goToMovie()" tabindex="-1">
        <img src="assets/logo.png" class="header-logo" alt="Cinescope" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="icon-btn" fill="clear" (click)="goToSearch()" tabindex="-1">
        <ion-icon name="search-outline" aria-label="Search"></ion-icon>
      </ion-button>
      <ion-button class="icon-btn" fill="clear" (click)="goToSetting()" tabindex="-1">
        <ion-icon name="settings-outline" aria-label="Settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>