<ion-content>
    <div class="settings-container">
        <!-- Back Button at the Top -->
        <div class="back-button-container">
            <ion-button fill="clear" (click)="navigateBack()">
                <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
                <span>Back</span>
            </ion-button>
        </div>

        <h2>Application Settings</h2>

        <!-- TMDB API Key Setting -->
        <ion-card>
            <ion-card-header>
                <ion-card-title>TMDB API Key</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-input type="text" [(ngModel)]="tmdbApiKey" placeholder="Enter your API key"></ion-input>
                </ion-item>
                <ion-button expand="block" class="save-button" (click)="saveApiKey()">
                    Save API Key
                </ion-button>
            </ion-card-content>
        </ion-card>

        <!-- Manage Lists -->
        <ion-card>
            <ion-card-header>
                <ion-card-title>Manage Lists</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button expand="block" class="save-button" (click)="clearWatchlist()">
                    Clear Watchlist
                </ion-button>
                <ion-button expand="block" class="save-button" (click)="clearWatchedList()">
                    Clear Watched List
                </ion-button>
            </ion-card-content>
        </ion-card>

        <!-- About Section -->
        <ion-card>
            <ion-card-header>
                <ion-card-title>About</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label>Version</ion-label>
                    <ion-note slot="end">1.0.0</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Developed By</ion-label>
                    <ion-note slot="end">Raj Pawar</ion-note>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>