<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="movies" href="/tabs/movies">
            <ion-icon name="film"></ion-icon>
            <ion-label>MOVIES</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tv" href="/tabs/tv">
            <ion-icon name="tv"></ion-icon>
            <ion-label>TV</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="discover" href="/tabs/discover">
            <ion-icon name="flame"></ion-icon>
            <ion-label>DISCOVER</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="archive" href="/tabs/archive">
            <ion-icon name="hourglass"></ion-icon>
            <ion-label>ARCHIVE</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="inbox" href="/tabs/inbox">
            <ion-icon name="mail"></ion-icon>
            <ion-label>INBOX</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>