.button-container {
    display: flex;
    gap: 10px;
}

.button-container ion-button {
    flex: 1;
    /* Makes each button occupy equal space */
}

// ion-button[color="primary"] {
//     margin-top: 0.5rem;
//     font-weight: bold;
// }