<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movie" href="/tabs/movie">
      <ion-icon md="film-sharp" aria-label="Movies"></ion-icon>
      <ion-label class="tabs-label">Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv" href="/tabs/tv">
      <ion-icon md="tv-sharp" aria-label="TV"></ion-icon>
      <ion-label class="tabs-label">TV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover">
      <ion-icon md="flame" aria-label="Discover"></ion-icon>
      <ion-label class="tabs-label">Discover</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
