<ion-header class="ion-no-border">
    <ion-toolbar>
        <div slot="start" class="brand-container">
            <img src="assets/images/logo-header.svg" alt="CINESCOPE" class="header-logo" fetchpriority="high" />
        </div>

        <ion-buttons slot="end">
            <ion-button fill="clear" class="action-btn btn-search" aria-label="Search" (click)="openSearch()">
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="action-btn btn-settings" aria-label="Settings" (click)="openSettings()">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>