ion-content {
    animation: fadeIn 0.5s ease-in-out;
    --background: #000;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    img {
        width: 100%;
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
    }

    // p {
    //     position: absolute;
    //     bottom: 5px;
    //     left: 5px;
    //     font-size: 14px;
    //     color: #fff;
    //     background: rgba(0, 0, 0, 0.7);
    //     padding: 3px 6px;
    //     border-radius: 3px;
    // }

    &:hover img {
        transform: scale(1.1);
    }
}

ion-fab-button {
    --background: #db0000;
    --color: #ffffff;
    --border-radius: 50%;
    --box-shadow: 0 4px 8px rgba(219, 0, 0, 0.4);

    width: 56px;
    height: 56px;

    ion-icon {
        font-size: 24px;
    }

    &:hover {
        --background: #b30000;
    }

    &:active {
        --background: #7a0000;
    }
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
    padding: 16px;
    text-align: center;
    position: relative;

    p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #fff;
    }

    .arrow-svg {
        width: 120px;
        transform-origin: 50% 50%;
        position: absolute;
        bottom: 150px;
        right: 25px;
    }
}