<div class="hero-container">

    <img src="assets/placeholders/placeholder-backdrop.webp" alt="Hero Movie" class="hero-backdrop"
        fetchpriority="high" />
    <div class="gradient-overlay"></div>

    <div class="hero-content">

        <div class="badge-row">

            @if (true) {
            <app-badge text="#1 TRENDING" variant="primary"></app-badge>
            }

            <app-badge text="7.2" variant="dark" iconUrl="assets/badges/imdb.svg">
            </app-badge>

            <app-badge text="88%" variant="dark" iconUrl="assets/badges/popcornmeter.svg">
            </app-badge>

        </div>

        <h1 class="movie-title">WAR MACHINE</h1>

        <div class="metadata-row">
            <span>2026</span>
            <span class="dot-separator">•</span>
            <app-badge text="EN" variant="outline"></app-badge>
            <span class="dot-separator">•</span>
            <span>110 MIN</span>
        </div>

        <p class="movie-overview">
            On one last grueling mission during Army Ranger training, a combat engineer must lead his unit in a fight
            against a giant otherworldly killing machine.
        </p>
    </div>

</div>