<ion-header class="custom-blur-header">
  <ion-toolbar>
    <ion-title>Desi New</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToDiscover()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
          <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6z" />
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen (ionInfinite)="loadMore($event)">
  <div class="movies-list">
    <div class="movie-card" *ngFor="let movie of movies" (click)="navigateToDetail('movie', movie.id)">
      <div class="movie-banner animate__animated animate__pulse animate__fast clip-shape">
        <div class="banner-background" [style.backgroundImage]="movie.backdrop_path 
        ? 'url(https://image.tmdb.org/t/p/w500' + movie.backdrop_path + ')' : 'url(assets/placeholder-backdrop.png)'">
        </div>
        <div class="banner-overlay">
          <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.overview }}</p>
            <div class="details">
              <span class="vote">Rating: {{ movie.vote_average }}</span>
              <span class="release-date">Release: {{ movie.release_date | date:'MMM d, y' }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Poster is placed outside the clipped banner -->
      <div class="poster animate__animated animate__flipInX animate__fast">
        <img
          [src]="movie.poster_path ? ('https://image.tmdb.org/t/p/w300' + movie.poster_path) : 'assets/placeholder.png'"
          [alt]="movie.title" />
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>