.background-content {
    padding: 20px 20px 15vh 20px;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    overflow-y: auto;
}

.dummy-item {
    padding: 20px;
    border-bottom: 1px solid #333;
    font-size: 16px;
}