<app-header></app-header>

<ion-toolbar class="slick-toolbar">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)" class="slick-segment">
    <ion-segment-button value="bollywood"><ion-label>Bollywood</ion-label></ion-segment-button>
    <ion-segment-button value="topRated"><ion-label>Top Rated</ion-label></ion-segment-button>
    <ion-segment-button value="trending"><ion-label>Trending</ion-label></ion-segment-button>
    <ion-segment-button value="actors"><ion-label>Actors</ion-label></ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="ion-padding" fullscreen>
  <div class="content-layer">
    <app-discover-bollywood *ngIf="segmentValue === 'bollywood'"></app-discover-bollywood>
    <app-discover-top-rated *ngIf="segmentValue === 'topRated'"></app-discover-top-rated>
    <app-discover-trending *ngIf="segmentValue === 'trending'"></app-discover-trending>
    <app-discover-actors *ngIf="segmentValue === 'actors'"></app-discover-actors>
  </div>
</ion-content>