<ion-header class="custom-blur-header">
  <ion-toolbar>
    <ion-title>Top Rated TV</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToTopRated()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
          <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6z" />
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" (ionInfinite)="loadMore($event)">
  <div class="media-grid" *ngIf="firstLoad">
    <div class="media-card skeleton" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
      <ion-skeleton-text animated class="poster-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%; height: 16px; margin-top: 0.5rem;"></ion-skeleton-text>
    </div>
  </div>

  <div class="media-grid" *ngIf="!firstLoad">
    <div class="media-card" *ngFor="let tv of tvList" (click)="goToTvDetail(tv.id!)">
      <div class="poster-wrapper">
        <img [src]="tv.poster_path ? 'https://image.tmdb.org/t/p/w342' + tv.poster_path : 'assets/placeholder.png'"
          [alt]="tv.name" />
      </div>
      <div class="movie-info">
        <h4 class="title">{{ tv.name }}</h4>
        <span class="rating-badge" *ngIf="tv.vote_average">
          ★ {{ tv.vote_average | number: '1.0-1' }}
        </span>
      </div>
    </div>

    <!-- Infinite scroll loader -->
    <div class="media-card skeleton" *ngIf="isPaginating">
      <ion-skeleton-text animated class="poster-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%; height: 16px; margin-top: 0.5rem;"></ion-skeleton-text>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" position="bottom">
    <ion-infinite-scroll-content loadingSpinner="dots"
      loadingText="Loading more movies..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>