<ion-content [fullscreen]="true">
    <div class="container">
        <div class="movie-grid">
            <div *ngFor="let movie of movies" class="movie-card" (click)="openMovieDetails(movie.id)">
                <img [src]="movie.poster_path == null ? 'assets/placeholder.png' : 'https://image.tmdb.org/t/p/w300/' + movie.poster_path"
                    alt="{{ movie.title }}" class="poster" />
                <div class="overlay">
                    <h3>{{ movie.title }}</h3>
                </div>
            </div>
        </div>
    </div>
</ion-content>