<ion-content>
  <div class="search-container">
    <div class="search-bar">
      <ion-input placeholder="Search for a movie" [(ngModel)]="searchQuery" clearInput
        (ionInput)="searchMovies()"></ion-input>
      <ion-icon class="search-icon" name="search-outline" (click)="searchMovies()"></ion-icon>
    </div>

    <div *ngIf="filteredMovies.length > 0" class="movies-grid">
      <div *ngFor="let movie of filteredMovies" class="movie-card" (click)="openMovieDetails(movie)">
        <img
          [src]="movie.poster_path !== 'assets/placeholder.png' ? 'https://image.tmdb.org/t/p/w200' + movie.poster_path : movie.poster_path"
          alt="{{ movie.title }}" />
        <p>{{ movie.title }}</p>
      </div>
    </div>

    <div *ngIf="filteredMovies.length === 0 && searchQuery.trim() !== ''" class="no-results">
      No movies found.
    </div>
  </div>
</ion-content>