<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <!-- Segment Toggle -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="movies">
        <ion-label>Movies</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tv">
        <ion-label>TV</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- Searchbar Toolbar with Paste Button -->
  <ion-toolbar class="search-toolbar">
    <div class="search-wrapper">
      <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search here..." show-clear-button="always"
        (ionInput)="search(true)">
      </ion-searchbar>
      <button *ngIf="!searchQuery" class="paste-btn" (click)="pasteFromClipboard()">
        PASTE
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Results -->
  <div class="grid" *ngIf="segmentValue === 'movies'">
    <div class="grid-item animate__animated animate__fadeIn animate__fast" *ngFor="let item of movieResults">
      <img [src]="getImageUrl(item.poster_path)" (error)="onImageError($event)" />
      <p>{{ item.title }}</p>
    </div>
  </div>

  <div class="grid" *ngIf="segmentValue === 'tv'">
    <div class="grid-item animate__animated animate__fadeIn animate__fast" *ngFor="let item of tvResults">
      <img [src]="getImageUrl(item.poster_path)" (error)="onImageError($event)" />
      <p>{{ item.name }}</p>
    </div>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Loading and Error -->
  <div class="ion-padding" *ngIf="isLoading">Loading...</div>
  <div class="ion-padding" *ngIf="error">
    <ion-text color="danger">{{ error }}</ion-text>
  </div>

</ion-content>